
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.sea-blue-background {
    background: rgb(134, 208, 238); /* Adjust this color as needed */
}

.paintings {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.painting {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.painting img {
    max-width: 100%;
    height: auto;
}

.color {
    background: #2b5876;
    background: linear-gradient(to right, #2b5876, #4e4376);
}
